// scss 全局变量

// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单最小宽度
$base-menu-min-width: 50px;
// 左侧菜单颜色
$base-menu-background: #4571cc;
// 顶部导航栏高度
$base-tabbar-height: 50px;
// 顶部标签栏高度
$base-tagbar-height: 30px;
// 左侧菜单logo高度
$base-menu-logo-height: 50px;
// 左侧菜单logo字体大小
$base-menu-title-size: 20px;

$primary-color: #0052d9;
$success-color: #2ba471;
$danger-color: #d54941;
$base-bgcolor: #262f3e;
$base-border-color: #e8e8e8;

$bg-color-page: #f0f0f0;
